.app-wrapper {
  display  : grid;
  max-width: 1200px;
  margin   : 0 auto;
  padding  : 100px 30px;

  grid-template-areas:
    'nav nav'
    'content rightContent';

  grid-gap             : 10px;
  grid-template-rows   : 1fr 0;
  grid-template-columns: 1fr 300px;
}

.app-wrapper-left {
  grid-area: leftContent;
}

.app-wrapper-content {
  grid-area: content;
}

.app-wrapper-right {
  grid-area: rightContent;
  display  : grid;
  grid-gap : 10px;
}