.container {
	max-width: 1200px;
	margin   : 0 auto;
	padding  : 0 30px;
}

.block {
	background-color: white;
	border-radius   : 5px;
	border          : 1px solid #e6ecf5;
}

.blockName {
	padding      : 20px;
	color        : #515365;
	border-bottom: 1px solid #e6ecf5;
	font-size    : 16px;
	font-weight  : 700;
}

.comingSoon {
	position: relative;
}

.comingSoon::before {
	position        : absolute;
	content         : 'Coming soon';
	border-radius   : 5px;
	right           : -30px;
	top             : -7px;
	font-size       : 8px;
	font-weight     : 700;
	color           : white;
	background-color: tomato;
	padding         : 2px 5px;
	opacity         : 30%;
	z-index         : 1;
}